* {
  margin: 10px 10px;
}
.Header {
  display: flex;
  margin: auto;
  width: 80%;
  background-color: darkslategrey;
  color: #61dafb;
  padding: 25px;
}
.Form-body {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  padding: 25px;
  background-color:rgb(233, 233, 233);
}
.Form-info {
  margin: 10px 10px;
}
input, select {
  padding: 12px;
  box-sizing: border-box;
}

input[type=submit] {
  float: right;
  width: 20%;
  background-color: darkslategrey;
  border: none;
  color: white;
  font-weight:bold;
}
input[type=submit]:hover {
  background-color: rgb(58, 109, 102);
}
@media screen and (max-width: 762px) {
  input[type=submit] {
    width: 100%;
  }
}
.Table {
  width: 90%;
  margin: auto;
  text-align:center;
  padding-top: 20px;
}
.Form-link {
  display: flex;
  flex-direction:column;
  margin: auto;
  width: 80%;
  padding: 5px 25px 0px 25px;
  background-color:rgb(233, 233, 233);
}
#Link {
  color:darkslategrey;
  text-align: right;
}